*{
margin: 0;
padding: 0;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 330px 1fr 150px;
}

nav{
    height: 80px;
    width: 100%;
    position: absolute;
    background-color: rgb(243, 136, 48);
    display: flex;
    
}

#logo{
    height: 100%;
    display: flex;
    align-items: center;
}

#logo-img{
    height: 100%;
    padding: 20px 5px 20px 60px;
    box-sizing: border-box;
}
#logo-img img{
    height: 100%;
    object-fit: contain;
}
#logo-texto{
    color: white;
    font-size: 1.3em;
    font-weight: 900;
}

header{
    background-color: rgb(243, 48, 54);
}